.choresText {
   color: rebeccapurple;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: large;
}

.choresHeading {
   color: rebeccapurple;
   text-decoration: underline;
   font-style: italic;
}